<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>included to foo</title>
</head>
<body>
<div th:fragment="external_fragment(param1,param2)">
    <p th:text="'external fragment run with parameters:'+${param1}+'  '+${param2}"></p>
</div>
<div th:fragment="external_fragment_no_params">
    <p th:text="'external fragment without params'"></p>
</div>

</body>
</html>